<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <style>
        body{
            font-family:Arial;
            text-align:center;
            padding-top:100px;
            background:#fff3e0;
        }

        button{
            padding:12px 25px;
            margin:10px;
            border:none;
            background:#ff9800;
            color:white;
            border-radius:5px;
            cursor:pointer;
        }
    </style>
</head>
<body>

    <h1>📞 Contact Page</h1>
    <p>Email: contact@example.com</p>

    <button onclick="location.href='/'">
        Home
    </button>

    <button onclick="location.href='/about'">
        About
    </button>

</body>
</html>